body { 
  margin: 0; 
  font-family: Arial, sans-serif;  
  padding:0;
}
.main-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}
.logo { font-weight: bold; font-size: 1.2rem; }
.nav a {
    margin-left: 1.5rem;
    text-decoration: none;
    color: #333;
}
.nav a:hover { text-decoration: underline; }

.nav a img {
  height: 24px;   
  width: auto;
  vertical-align: middle;
  object-fit: contain;
}

.main-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.inside-content {
  font-size: 30px;
  text-align: center;
}

.form-fields{
  display: grid;
  place-items: center;
  gap: 10px;
}

.form-fields > label{
  font-size: medium;
}

.form-fields > input:nth-child(3){
  padding: 5px;
  background-color: #ef6767;
}