{% extends "index.html" %}

{% block content %}
<div class="main-content">
    <div class="inside-content">
        <h2>About</h2>
        <p>Let's Transfer is a simple and secure file transfer service 
            that lets you send files easily using a link or code. No accounts, no clutter, just fast, reliable transfers.</p>

        <p>Created and maintained by Adrian, a developer focused on building lightweight, privacy-respecting tools for everyday use.</p>

        <p>Whether you're sharing documents, media, or project files, Let's Transfer keeps your workflow smooth and your data safe.</p>

    </div>
</div>

{% endblock %}