{% extends "index.html" %}
{% block title %}Download Files{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="inside-content">
            <h3>Download Files.</h3>
            <p>Here are displayed the files.</p>
        </div>
        <p>Uploaded files:</p>
        <ul>
            {% for f in files %}
            <li>
                <p>{{f}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
    
{% endblock %}

{% block js %}
    <script>
        window.load = async function () {
            let downloadCode = window.location.href;
            downloadCode = downloadCode.split('/')[downloadCode.split('/').length-1];
            const url = `/download_file/${downloadCode}`;
            const response = await fetch (url, {
                method: 'POST',
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            });
            if (!response.ok) {
                alert("Download failed!")
                return
            }

            const blob = await response.blob();
            const link = document.createElement('a');
            link.href = URL.createObjectURL(blob);

            link.download = blob.type === 'application/zip' ? downloadCode.slice(0,6) : "{{files[0]}}".split('.')[0]  + (blob.type === 'application/zip' ? '.zip' : '');
            link.click();

            URL.revokeObjectURL(link.href);

        }
        window.load()
    </script>
{% endblock %}