<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="main-nav">
        <div class="logo">File Transfer</div>
        <div class="nav">
            <a href="{{ url_for('index') }}">
                <img src="{{url_for('static', filename='img/home.svg')}}" alt="Home">
                <span>Home</span>
            </a>
            <a href="{{ url_for('transfer') }}">
                <img src="{{ url_for('static', filename='img/luggage.svg') }}" alt="Transfer">
                <span>Let's Transfer</span></a>
            <a href="#">About</a>
            <a href="#">Contact</a>
            <a href="#">
                <img 
                    src="{{ url_for ('static', filename='img/whiskey.png')}}" 
                    alt="Donate a whiskey for the developer."
                >
            </a>
        </div>
    </div>
    {% block content %}{% endblock %}
    {% block js %}{% endblock %}
</body>
</html>