{% extends "index.html" %}
{% block title %}Transfer Files{% endblock %}
{% block content %}
    <div class="main-content">
        <div class="inside-content">
            <h3>Transfer your files.</h3>
            <p>Here you can transfer files with your peers.</p>
            <p>Limit is up to 500gb.</p>
        </div>
        <div class="form">
            <form action="{{ url_for('transfer')}}" method="post" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <p class="form-fields">
                    {{form.files.label}}
                    {{form.files()}}
                    {{form.submit()}}
                </p>
            </form>
        </div>
        {% if access_code %}
            <div class="result">
                <p>Code for download is: <span>{{ access_code }}</span></p>
                <form action="{{url_for('download_file', download_code=access_code)}}" method="post">
                    <input type="submit" value="Download Files">
                </form>
            </div>
        {% endif %}
        
    </div>
    
{% endblock %}
